<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  method="post" th:action="@{/changeUser}">
    <table>
        <tr>
            <td> ID: <input type="text" name="idChange" th:value="${idChange}"></td>
        <tr>
            <td>Name: <input type="text" name="nameChange" th:value="${nameChange}"></td>
        </tr>
        <tr>
            <td>Age: <input type="text" name="ageChange" th:value="${ageChange}"></td>
        </tr>
        <tr>
            <td>Login: <input type="text" name="loginChange" th:value="${loginChange}"></td>
        </tr>
        <tr>
            <td>Password: <input type="password" name="passwordChange" th:value="${passwordChange}"></td>
        </tr>
        </tr>
    </table>
    <input type="submit" value="Изменить">
</form>
</body>
</html>