<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <title>List</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spring CRUD</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-targer="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="form-inline ml-auto mt-2 mt-md-0" th:action="@{/logout}" method="post">
                <input type="submit" value="Выйти" class="btn btn-outline-success my-2 my-sm-0 ">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background: #FFFFFF">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" style="margin-top: 15px; background: #FAFAFA" aria-controls="home">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#list-profile" id="list-profile-list" data-toggle="list" aria-controls="home" role="tab" style="margin-top: 15px;  background: #FAFAFA">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10" style="background: #FAFAFA">

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <h1 class="h1" style="margin-top: 15px">Admin panel</h1>
                    <div class="card card-default" style= "margin-top: 50px; background: #FAFAFA">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs pull-xs-left">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Users table</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="modal" data-target="#myModal">New User</a>
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">New User</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        x
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" th:action="@{/addUser}" th:object="${userAttribute}" method="post">
                                                        <div class="form-group row">
                                                            <label for="name" class="col-sm-3 col-form-label">Name</label>
                                                            <div class="col-sm-9">
                                                                <input id="name" class="form-control" name="name" required type="text" placeholder="Alex" th:field="*{name}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="age" class="col-sm-3 col-form-label">Age</label>
                                                            <div class="col-sm-9">
                                                                <input id="age" class="form-control" name="age" required type="text" placeholder="19" th:field="*{age}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="login" class="col-sm-3 col-form-label">Login</label>
                                                            <div class="col-sm-9">
                                                                <input id="login" class="form-control" name="login" required type="text" placeholder="AlexTheBest" th:field="*{login}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                                                            <div class="col-sm-9">
                                                                <input id="password" class="form-control" name="password" required type="password" placeholder="***********" th:field="*{password}">
                                                            </div>
                                                        </div>
                                                        <fieldset class="form-group">
                                                            <div class="row">
                                                                <legend class="col-form-label col-sm-3 pt-0">Enable</legend>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" name="enabled" th:field="*{enabled}" value="" id="defaultCheck1">
                                                                    <label class="form-check-label" for="defaultCheck1" >
                                                                        true
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" name="enabled" th:field="*{enabled}" value="" id="defaultCheck">
                                                                    <label class="form-check-label" for="defaultCheck" >
                                                                        false
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <form role = "form" th:object="${roleAttribute}" >
                                                                    <div class="form-group">
                                                                        <label for="exampleFormControlSelect1">Role:</label>
                                                                        <select class="form-control" id="exampleFormControlSelect1" name="role" th:field="*{nameRole}" >
                                                                            <option th:value="'USER'">USER</option>
                                                                            <option th:value="'ADMIN'">ADMIN</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <div class="form-group">
                                                                            <input type="submit" value="Save" class="btn btn-success btn-block"/>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-9">
                                        <table class="table table-stripped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Age</th>
                                                <th scope="col">Login</th>
                                                <th scope="col">Password</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="showBody">
                                            <th:block th:each = "user :${list}">
                                                <tr id="tr1">
                                                    <td th:text="${user.id}"></td>
                                                    <td th:text="${user.name}"></td>
                                                    <td th:text="${user.age}"></td>
                                                    <td th:text="${user.login}"></td>
                                                    <td th:text="${user.password}"></td>
                                                    <td>
                                                        <button id="edit" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#EditModal">Edit</button>
                                                    </td>
                                                    <td>
                                                        <button id="delete" class="btn btn-danger btn-sm">Delete</button>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    ...
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editModalLabel">Edit user</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        x
                    </button>
                </div>
                <div class="modal-body">
                    <form id = "user" th:object="${userChange}" role="form" th:action="@{/changeUser}"  method="post">
                        <div class="form-group row">
                            <label for="idChange" class="col-sm-3 col-form-label">ID</label>
                            <div class="col-sm-9">
                                <input id="idChange" class="form-control" type="text" name="idChange" th:value="${user.id}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nameChange" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input id="nameChange" class="form-control" type="text" name="nameChange" th:value="${user.name}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ageChange" class="col-sm-3 col-form-label">Age</label>
                            <div class="col-sm-9">
                                <input id="ageChange" class="form-control" type="text" name="ageChange" th:value="${user.age}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="loginChange" class="col-sm-3 col-form-label">Login</label>
                            <div class="col-sm-9">
                                <input id="loginChange" class="form-control" type="text" name="loginChange" th:value="${user.login}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="passwordChange" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input id="passwordChange" class="form-control" type="text" name="passwordChange" th:value="${user.password}">
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Role:</label>
                                <select class="form-control" id="exampleFormControlSelect2" name="role" th:field="*{nameRole}">
                                    <option th:value="'ADMIN'">ADMIN</option>
                                    <option th:value="'USER'">USER</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <button class="btn btn-success btn-block" type="submit">Save</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function() {
        $('table').on('click', 'button[id="edit"]', function(e) {
            var id = $(this).closest('tr').children('td:first').text();
            var name = $(this).closest('tr').children('td:nth-child(2)').text();
            var age = $(this).closest('tr').children('td:nth-child(3)').text();
            var login = $(this).closest('tr').children('td:nth-child(4)').text();
            var password = $(this).closest('tr').children('td:nth-child(5)').text();
            $("#idChange").val(id);
            $("#nameChange").val(name);
            $("#ageChange").val(age);
            $("#loginChange").val(login);
            $("#passwordChange").val(password);
            $('#save').click(function () {
                $.ajax ({
                    type : "POST",
                    url: "/changeUser",
                    data: {
                        idChange : $("#idChange").val(),
                        nameChange : $("#nameChange").val(),
                        ageChange: $("#ageChange").val(),
                        loginChange: $("#loginChange").val(),
                        passwordChange: $("#passwordChange").val(),
                    },
                    success: function(html){
                        location.reload();
                    }
                });
            });
        });
        $('table').on('click', 'button[id="delete"]', function (e){
            var id = $(this).closest('tr').children('td:first').text();
            $.ajax ({
                type: "GET",
                url: "/removeUser/" + id,
                success: function(html){
                    $("#container").html(html);
                }
            })
        });
    });
</script>







<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
</script>
</body>
</html>