<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/list}">
    <input type="submit" value="Для админа">
</form>

<form th:action="@{/registred}">
    <input type="submit" value="для юзера">
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
</form>
</body>
</html>